<h2>Received Messages</h2>
{% for message in sorted_messages %}
	<a href="{{path('chat', {'number': message.smsOrigin})}}">{{message.smsOrigin}}</a><br />
{% endfor %}

<h2>Actions:</h2>
<a href="{{ path('sms_out_new') }}">Send new message</a><br />
<a href="{{ path('sms_out_index') }}">Sent messages</a><br />
<a href="{{ path('contact_index') }}">Bulk messaging</a><br />
<a href="{{ path('receive_sms', {'sms_origin': '0736600033', 'message': "Hey over there"}) }}">Receive a mock message</a><br />
<a href="{{ path('clear_messages') }}">Delete all messages<br />
